<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BiAtt-flow demo</title>

    <!-- Bootstrap -->
    <link href="../static/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	
	<div class="container" role="main">
		<div> <!--<div class="jumbotron">-->
			<h1 class="display-3"> Bi-directional Attention Flow Demo</h1>
			<p>BiAtt-Flow can answer to your question!</p>
			<p><strong>Direction</strong> : Select a paragraph and write a question to see how BiAtt-Flow answers to your question.</p>
			<p><strong>Note : </strong>The answer is always a part of paragraph - remember it when you ask for a question!</p>
		</div>
		<!--
		<h3> Some Given Paragraphs </h3>
		<p id = "button-field">
		    <button type="button" class="btn btn-sm btn-default" id="0">Para0</button>
		    <button type="button" class="btn btn-sm btn-primary" id="1">Para1</button>
		    <button type="button" class="btn btn-sm btn-default" id="2">Para2</button>
		    <button type="button" class="btn btn-sm btn-primary" id="3">Para3</button>
		    <button type="button" class="btn btn-sm btn-default" id="4">Para4</button>
		    <button type="button" class="btn btn-sm btn-primary" id="5">Para5</button>
 		    <button type="button" class="btn btn-sm btn-default" id="6">Para6</button>
		    <button type="button" class="btn btn-sm btn-primary" id="7">Para7</button>
		    <button type="button" class="btn btn-sm btn-default" id="8">Para8</button>
		    <button type="button" class="btn btn-sm btn-primary" id="9">Para9</button>
		    <button type="button" class="btn btn-sm btn-default" id="10">Para10</button>
		    <button type="button" class="btn btn-sm btn-primary" id="11">Para11</button>
		    <button type="button" class="btn btn-sm btn-default" id="12">Para12</button>
		    <button type="button" class="btn btn-sm btn-primary" id="13">Para13</button>
		    <button type="button" class="btn btn-sm btn-default" id="14">Para14</button>
		    <button type="button" class="btn btn-sm btn-primary" id="15">Para15</button>
		</p>
		-->
		<hr />
		<h4><span class="label label-default">Select Paragraph</span></h4>
		<select id="selectArticle"></select>
				
		<div class="row">
			<div class="col-md-6">
				<h4><span class="label label-primary">Paragraph</span></h4>
				<textarea readonly class="form-control" id="paragraph" rows="10">
				</textarea>
			</div>
			<div class="col-md-6" id="qa">
			</div>
		</div>
		<hr />
		<div>
			<p>Reference : Minjoon Seo, Aniruddha Kembhavi, Ali Farhadi, Hannaneh Hajishirzi. "Bidirestional Attention Flow for Machine Comprehension" [<a href="https://arxiv.org/abs/1611.01603" target="_blank">link</a>]</p>
			<p>SQuAD leaderboard [<a href="https://rajpurkar.github.io/SQuAD-explorer" target="_blank">link</a>]</p>

		</div>
	</div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- <script src="bootstrap/js/bootstrap.min.js"></script>-->
	<script src="../static/jquery-3.1.0.min.js"></script>
	<script src="../static/jszip.min.js"></script>
	<script src="../static/index.js"></script>
  </body>
</html>

